body {
    background: var(--gray-10);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: var(--font-sans);
    font-size: var(--size-header-1);
    text-align: center;
}

.gradient-text {
    background: var(--gradient-18);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }